body {
    background-image: url(../image/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400, 500, 600, 700;
    overflow: absolute;
}

header {
    color: white;
    vertical-align: middle;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 30px;

}

header h1 {
    font-size: 50px;
    line-height: 50px;
}

header p {

    font-size: 13px;
    color: rgba(255, 255, 255, 0.584);

}

main {
    margin-top: 70px;
    margin-right: 170px;
    vertical-align: middle;
}

.paragraph {
    width: 112%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: hsl(248, 32%, 49%);
    border: none;
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: light;
    box-shadow: 2px 9px 4px -2px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 9px 4px -2px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 9px 4px -2px rgba(0, 0, 0, 0.28);

}

span {
    font-weight: bold;
    font-size: 15px;
}

.form {
    background-color: white;
    background-size: cover;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 2px 9px 4px -2px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 9px 4px -2px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 9px 4px -2px rgba(0, 0, 0, 0.28);
}



.input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.input:focus {
    outline: none;
    border: 1px solid hsl(246, 25%, 77%);
}

/* .label {
    position: relative;

}

.error-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(../image/icon-error.svg);
    background-size: cover;
    opacity: 0;
    pointer-events: none;
}

.label .invalid .error-icon {
    opacity: 1;
} */


button {
    background-color: hsl(154, 59%, 51%);
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    color: white;
}

.button {
    color: gray;
    font-size: 10px;
    text-align: center;
}

.button a {
    color: red;
    text-decoration: none;

}

@media screen and (max-width:576px) {
    body {
        background-image: url(../image/bg-intro-mobile.png);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    header {
        margin-top: 50px;
        margin-right: 10px;
    }

    header h1 {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
    }

    header p {
        text-align: center;
        font-size: 15px;
    }

    main {
        margin-top: 20px;
        margin-right: 50px;
        margin-left: 15px;

    }

    .paragraph {
        width: 110%;
        padding: 20px;
        font-size: 15px;

    }

}